<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfJAvX-uo81aZKJPcB7RePLp7xVmv9nDc</string>
	<key>GCM_SENDER_ID</key>
	<string>352397951631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fareRidingApp</string>
	<key>PROJECT_ID</key>
	<string>fare-riding-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fare-riding-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352397951631:ios:10a839e273399fce2ce6fa</string>
</dict>
</plist>